/* Specification */

body {
    font-family: 'Open Sans', sans-serif;
    background-color: #E5E5E5;
    padding: 0;
    margin: 0;
    color: #576485;
    font-size: 16px;
    line-height: 24px;
}

div, p, form, input, a, span, button, ul, textarea {
    box-sizing: border-box;
    outline: none;
}

p, h1, h2, h3 {
	margin: 0;   
}

ul, li {
	display: block;
	padding: 0;
	margin: 0;
}

a, a:hover, a:active, button {
    text-decoration: none;
    cursor: pointer;
}

a {
	transition: all 0.5s ease;
}

/* Slider */

.container {
    padding: 369px 193px ;
}

.slider {
    display: flex;
}


.slider__btn {
    border: none;
    background: transparent;
    cursor: pointer;
}

.slider__btn_prev {
    margin-right: 51px;
}

.slider__btn_next {
    transform: rotate(-180deg);
    margin-left: 51px;
}

.slider__block {
    padding:29px 27px 23px;
    background-color: #ffffff;
    border-radius: 4px;
    border: 1px solid rgba(84, 97, 130, 0.25);
    margin-right: 70px;
    max-width: 295px;
}

.slider .slider__block:nth-child(5){
    margin-right: 0;
}


.slider__headline {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.slider__icon {
    margin-right: 15px;
}

.slider__title {
    letter-spacing: 0.75px;
    color: #0F2250;
    font-weight: bold;
    font-size: 20px;
    line-height: 30px;
    margin-bottom: 4px;
}

.slider__text {
    max-width: 240px;
    margin-bottom: 20px;
}

.slider__link {
    color: #CB1E3A;
    line-height: 20px;
    font-weight: 600;
}

/* Modal */

.color_grey {
    color: #687491;
}

.font-size_18 {
    font-size: 18px;
}

.modal__wrap {
    position: relative;
    padding: 74px 85px 0;
    background: #FFFFFF;
    border-radius: 4px;
    display: flex;
    /* align-items: center; */
}

.modal__btn_close {
    position: absolute;
    top:29px ;
    right: 38px;
    border: none;
    background: transparent;
    
}

.modal__title {
    color: #CB1E3A;
    font-weight: bold;
    font-size: 35px;
    line-height: 40px;
    margin-bottom: 10px;
}

.modal__headline {
    max-width: 320px;
    line-height: 27px;
}

.modal__subtitle {
    margin-bottom: 15px;
    margin-top: 47px;
    font-weight: bold;
    line-height: 25px;
}

.modal__text {
    max-width: 770px;
}

.modal__item {
    line-height: 27px;
}

.modal__form-wrap {
    background-color: #F4F4F5;
    border-radius: 4px;
    padding: 54px 89px 63px;
    max-width: 464px;
}

.modal__form__title {
    color: #0F2250;
    font-weight: 600;
    font-size: 25px;
    line-height: 25px;
}

.modal__form {
    margin-top: 42px;
}

.modal__input {
    width: 286px;
    margin-bottom: 11px;
    padding: 5px 0 5px 10px;
    color: #60687E;
    font-size: 16px;
    line-height: 24px;
    border: 1px solid #DFE0EB;
    border-radius: 4px;
}

.modal__input_text {
    resize: none;
    font-family: 'Open Sans';
    min-height: 87px;
}

.modal__input_file {
    opacity: 0;
    
    position: absolute;
}

label {
    color: #0F2250; 
    font-weight: 300;
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    text-decoration-line: underline;
    line-height: 28px;
    cursor: pointer;
    margin-left: 10px;
}

.modal__file {
    display: flex;
    align-items: center;
}

.modal__btn {
    color: #FFFFFF;
    font-weight: 600;
    font-size: 16px;
    line-height: 16px;
    background: #CB1E3A;
    border-radius: 4px;
    padding: 14px 17px;
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 135px;
    margin: auto;
    margin-top: 48px;
    border: none;
}